page {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  filter: blur(16rpx);
}

.bg-w {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  //background-image: url("http://img02.tooopen.com/images/20150928/tooopen_sy_143912755726.jpg");
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //filter: blur(8rpx);
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  .userImg {
    display: block;
    width: 230rpx;
    height: 230rpx;
    margin: 50rpx auto;
    margin-top: 160rpx;
  }
  @h: 80rpx;
  .c-i {
    width: 520rpx;
    box-sizing: border-box;
    height: @h;
    line-height: @h;
    margin: 30rpx auto;
    //background-color: #fff;
    position: relative;
    border-radius: 10rpx;
    border: 2rpx solid #eee;
    text {
      position: absolute;
      top: 50%;
      left: 10rpx;
      color: #fff;
      transform: translateY(-50%);
    }
    input {
      font-size: 30rpx;
      width: 100%;
      height: 100%;
      color: #fff;
      line-height: inherit;
      padding-left: 60rpx;
    }
  }
  .login, .register {
    background-color: #1bb9fc;
    text-align: center;
    border: 2rpx solid #1bb9fc;
    color: #fff;
  }
  .register {
    background-color: transparent;
    margin-bottom: 2rpx;
  }
  .forget {
    width: 520rpx;
    text-align: right;
    margin: 0rpx auto;
    padding: 10rpx 0;
    font-size: 24rpx;
    color: #fff;
  }
  .noLogin {
    margin-top: 20rpx;
    text-align: center;
    font-size: 38rpx;
    color: #fff;
    label {
      margin-right: 10rpx;
    }
    switch {
      vertical-align: middle;
    }
  }
}
